
body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(31, 30, 30);
    font-family: 'Roboto Slab', serif;
}


.offcanvas-body .navbar-nav a:hover{
    color: rgb(59, 130, 164);
    text-decoration: underline;
    background: #1d1e22;
    border-radius: 8px;
}

.row .about h2:hover{
color: rgb(45, 119, 150);
}


@media (max-width:600px) {
    h2{
        font-size: 100%;
    }
}





.list {
    padding-left: 0;
    list-style: none;
    
}

.footer{
    background-color: #252424;
 
}

.footer li a{
    
    text-decoration: none;
}

.footer li a:hover{
    text-decoration: underline;
}




 .custom-form {
    max-width: 700px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f7f7f7;
    font-weight: 800;
 } 


 .custom-form button[type="submit"] {
    background-color: #00bce2;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}




.custom-form button[type="submit"]:hover {
    background-color: #2e96ff;
    color:whitesmoke;
}


@media(max-width: 650px){
.search input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f7f7f7;
    font-weight: 800;
    font-size: 12px;
    border-radius: 5px;
}}


.about h2{
    animation: fadeIn 7s ease;
}


@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


  @keyframes slideInFromLeft {
    from {
      transform: translateX(10%)
    }
    to {
      transform: translateX(0);
    }
  }


  .about-img-area img{
        transition: all .5s ease-in-out;

        left: 0; /* Ensure the element stays visible when the animation is complete */
        animation: slideFromLeft 3s ease;
        position: relative;
        transition: transform 10s ease; 
    }


        @keyframes slideFromLeft {
            0% {
              left: -10%; /* Element is off-screen */
            }
            100% {
              left: 0; /* Element slides in from the left */
            }
          }
  